@import "../common/_mixin.styl"
.standard-btn
    display inline-block
    font-size 13px
    font-weight bold
    text-align center
    border-radius 2px
    text-decoration none!important
    cursor pointer
    background-color blueColor
    padding 0 20px
    color #fff
    hh(40px)
    i
        font-size 12px
        padding-right 7px
    &.disabled
        pointer-events none
        background grayBgColor!important
        