
blueColor = #0068FF
blueHoverColor = #599DFF
lightBlueColor = #EDF4FF
blueHoverColor = #DAE9FF
grayTextColor = #9C9FB2
grayBgColor = #D1D2D6
grayBorderColor = #E7E9F1
blackColor = #313132
redColor = #FF0000

hh(height)
    height height
    line-height height

fixed(top = 0, right = 0, bottom = 0, left = 0)
    position fixed
    top top
    left left
    bottom bottom
    right right

absolute(top = 0, right = 0, bottom = 0, left = 0)
    position absolute
    top top
    left left
    bottom bottom
    right right

textOverflow()
    text-overflow ellipsis
    word-break break-all
    white-space nowrap
    overflow hidden