a:hover, a:visited, a:link, a:active
    color #000000
    text-decoration none
html
    font-family 'Microsoft YaHei', 'PingFang SC', 'Hiragino Sans GB', 'Heiti SC', 'WenQuanYi Micro Hei' !important
    -ms-text-size-adjust 100%
    -webkit-text-size-adjust 100%

.hide
    display none
.scrollBar
    overflow-y auto
.scrollBar::-webkit-scrollbar
    width 6px
    background-color transparent
.scrollBar::-webkit-scrollbar-track
    background-color transparent
.scrollBar::-webkit-scrollbar-thumb
    border-radius 3px
    background-color transparent
.scrollBar:hover::-webkit-scrollbar-thumb
    background-color rgba(220, 220, 220, .8)